{
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": false,
  "semi": true,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "preserve",
        "singleAttributePerLine": false
      }
    }
  ]
}